[submodule "lib/deck.js"]
	path = lib/deck.js
	url = git@github.com:codelahoma/deck.js.git
[submodule "lib/modernizr"]
	path = lib/modernizr
	url = https://github.com/Modernizr/Modernizr.git
[submodule "lib/html5-boilerplate"]
	path = lib/html5-boilerplate
	url = https://github.com/paulirish/html5-boilerplate.git
[submodule "lib/markdown2deckjs"]
	path = lib/markdown2deckjs
	url = https://github.com/ulf/markdown2deckjs.git
